[submodule "programs/strtt"]
	path = programs/strtt
	url = https://github.com/phryniszak/strtt
[submodule "libs/rtt/repo"]
	path = libs/rtt/repo
	url = https://github.com/SEGGERMicro/RTT
[submodule "libs/align"]
	path = libs/align
	url = https://github.com/align-racing-uia/Align-STM32G4
